@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin: 0;
  background: #141414;
  color: #fff;
  height: 100vh;
  box-sizing: border-box;
}

* {
  margin: 0;
}

.gm-ui-hover-effect {
  color: #fff !important;
}

.gm-style-iw {
  background: #001753 !important;
  top: 3.80rem !important;
}

.gm-style-iw-t::after {
  background: #001753 !important;
  display: none !important;
}
