@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin: 0;
  background: #141414;
  color: #fff;
  height: 100vh;
  box-sizing: border-box;
}

* {
  margin: 0;
}
